---
import { decode } from "html-entities";
import "../styles/singingPage.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import { fetchWordpressPage } from "../utils/fetchWordpressPage";

// This is the ID of the page you want to fetch from WordPress
const WordPressPageID = "73";

const { title, content } = await fetchWordpressPage(WordPressPageID);
---

<BaseLayout>
  <div class="flex flex-col gap-y-6 items-center">
    <h2 class="text-3xl font-medium md:text-center">
      {decode(title)}
    </h2>
    <section
      class="prose min-w-full"
      id={`page-${WordPressPageID}`}
      set:html={content}
    />
  </div>
</BaseLayout>
